---
navorder: 3
title: Code
layout: standard
custom_css:
---
<head>
  {% include head.html %}
  <!--page specific assets-->
  {% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="/css/{{ stylesheet }}" media="screen" type="text/css">
  {% endfor %}
  {% endif %}

</head>
<header>
  {% include nav.html %}
</header>
<body class='animate-in'>
  <section id="code-poster" class="poster">
    <!-- <span class="element"></span> -->
    <span id='canvas'></span>
    <div class="padding">
      <h1 id='show-text'></h1>
      <p id='show-text-2'></p>
    </div>
  </section>
  <!-- <section id="photographer-gallery" class="padding">
    {% assign projects = site.codes %}
    {% include collection-loop.html title = 'Selected Projects' projects = projects %}
  </section> -->
</body>
<footer>
  {% include footer.html %}
</footer>
