---
navorder: 3
title: Code
layout: standard
custom_css:

---
<head>
  {% include head.html %}
  <!--page specific assets-->
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="/css/{{ stylesheet }}" media="screen" type="text/css">
    {% endfor %}
  {% endif %}

</head>
<header>
  {% include nav.html %}
</header>
<body class='animate-in'>
  <section id="code-poster" class="poster">
    <div class="padding">
      <h1>Under Construction</h1>
      <h1>Sorry about that.</h1>
      <p>I promise this section will be great. Why not check out my <a href="http://www.github.com/{{site.github_username}}">Github</a> or my <a href="/photography">Photography</a> while you're here.</p>
    </div>
  </section>
</body>
<footer>
  {% include footer.html %}
</footer>
