---
navorder: 2
title: Photography
layout: standard
custom_css:
---
<head>
  {% include head.html %}
  <!--page specific assets-->
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="/css/{{ stylesheet }}" media="screen" type="text/css">
    {% endfor %}
  {% endif %}

</head>
<header>
  {% include nav.html %}
</header>
<body class='animate-in'>
  <section id="photographer-poster" class="poster">
    <div class="padding">
      <h1>Great Photos,</h1>
      <h1>Unforgettable Memories</h1>
      <p>As a photographer, I know that the perfect photo should tell a story and preserve a memory. I work with my clients and bridge the divide between ideas and reality. In short, I create powerful and memorable photos.</p>
    </div>
  </section>
  <section id="photographer-gallery" class="padding">
    {% assign projects = site.portfolios %}
    {% include collection-loop.html title = 'Gallery' projects = projects %}
  </section>
  <!-- <section id="call-to-action"class="padding">
      <div class="cta">
        <div class="cta-text">
          <h1>Like what you see?</h1>
        </div>
        <a href='/contact' class="cta-button"><span>Let's talk </span></a>
      </div>
  </section> -->
</body>
<footer>
  {% include footer.html %}
</footer>
