---
navorder: 2
title: Photography
layout: standard
custom_css:
---
<head>
  {% include head.html %}
  <!--page specific assets-->
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="/css/{{ stylesheet }}" media="screen" type="text/css">
    {% endfor %}
  {% endif %}

</head>
<header>
  {% include nav.html %}
</header>
<body class='animate-in'>
  <section id="photographer-poster" class="poster">
    <div class="padding">
      <h1>Great Photos,</h1>
      <h1>Unforgettable Memories</h1>
      <h5>As a photographer, I know that the perfect photo should tell a story and preserve a memory. I work with my clients and bridge the divide ideas and reality. In short, I create powerful and memorable photos.</h5>
    </div>
  </section>
  <section id="photographer-industry">
      <div class='padding'>
        <h1>Clients</h1>
        <div class="info">
          <h4>My style of photography is not industry specific. I work with clients from all backgrounds to capture an image that captures their experience. Whether it's your wedding or yourself, the same level of detail and quality is delivered to every assignment</h4>
          <ul>
            <li><span class=''></span><p>Weddings</p></li>
            <li><span class=''></span><p>Engagements</p></li>
            <li><span class=''></span><p>Events</p></li>
            <li><span class=''></span><p>Commerical</p></li>
            <li><span class=''></span><p>Product</p></li>
            <li><span class=''></span><p>Family</p></li>
            <li><span class=''></span><p>Portraits</p></li>
            <li><span class=''></span><p>Nature</p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="photographer-gallery">
    <div class="padding">
      <h1>Gallery</h1>
      <ul>
        {% assign portfolios = site.portfolios %}
        {% for portfolio in portfolios %}
          <li>{{ portfolio.title }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section id="call-to-action">
    <div class="padding">
      <h1>CTA</h1>
    </div>
  </section>
  <section id="contact">
    <div class="padding">
      <h1>Contact</h1>
    </div>
  </section>
</body>
<footer>
  {% include footer.html %}
</footer>
