---
navorder: 2
title: Photography
layout: standard
custom_css:
custom_js:
  - photography
---
<head>
  {% include head.html %}
  <!--page specific assets-->
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="/css/{{ stylesheet }}" media="screen" type="text/css">
    {% endfor %}
  {% endif %}
  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
      <script src='/js/{{ js_file }}.js' type="text/javascript"></script>
    {% endfor %}
  {% endif %}
</head>
<header>
  {% include nav.html %}
</header>
<body class='animate-in'>
  <section id="photographer-poster" class="poster">
    <div class="padding">
      <h1>Great Photos,</h1>
      <h1>Unforgettable Memories</h1>
      <h5>As a photographer, I know that the perfect photo should tell a story and preserve a memory. I work with my clients and bridge the divide ideas and reality. In short, I create powerful and memorable photos.</h5>
    </div>
  </section>
  <section id="photographer-industry">
      <div class='padding'>
        <h1>Clients</h1>
        <div class="info">
          <h4>Something about how my photographic services are not limited to one field. I work with all types of clients to create powerful images.</h4>
          <ul>
            <li><span class=''></span><p>Weddings</p></li>
            <li><span class=''></span><p>Engagements</p></li>
            <li><span class=''></span><p>Events</p></li>
            <li><span class=''></span><p>Commerical</p></li>
            <li><span class=''></span><p>Product</p></li>
            <li><span class=''></span><p>Family</p></li>
            <li><span class=''></span><p>Portraits</p></li>
            <li><span class=''></span><p>Nature</p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="photographer-gallery">
    <div class="padding">
      <h1>Gallery</h1>
      <ul>
        {% assign portfolios = site.portfolios %}
        {% for portfolio in portfolios %}
          <li>{{ portfolio.title }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section id="call-to-action">
    <div class="padding">
      <h1>CTA</h1>
    </div>
  </section>
  <section id="contact">
    <div class="padding">
      <h1>Contact</h1>
    </div>
  </section>
</body>
<footer>
  {% include footer.html %}
</footer>
