<meta charset="utf-8">
<!-- My Styles -->
<link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">

<!-- Libraries -->
<!-- jQuery -->
<script src="/js/libraries/jquery-3.1.0.min.js"></script>
<!-- Bootstrap CSS map-->
<link rel="stylesheet" href="/css/libraries/bootstrap-theme.min.css.map" media="screen" title="no title">
<!-- Bootstrap CSS-->
<link rel="stylesheet" href="/css/libraries/bootstrap-theme.min.css" media="screen" title="no title">
<!-- Bootstrap JS -->
<script src="/js/libraries/bootstrap.min.js"></script>
<title>{{site.title}}</title>
