<nav>
  <ul class="navbar">
    {% assign nodes = site.pages | sort: 'navorder' %}
    <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
    {% for node in nodes %}
    {% if node.title %}
    <li>
      {% if page.url == node.url %}
      <a class="page-link active" href="{{node.url}}">{{ node.title }}</a>
      {% else %}
      <a class="page-link" href="{{node.url}}">{{ node.title }}</a>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
