<nav>
  <ul class="topnav" id="myTopNav">
    {% assign nodes = site.pages | sort: 'navorder' %}
    {% for node in nodes %}
    {% if node.title %}
    <li>
      {% if page.url == node.url %}
      <a class="page-link active" href="{{node.url}}">{{ node.title }}</a>
      {% else %}
      <a class="page-link" href="{{node.url}}">{{ node.title }}</a>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
        <li class="icon"><a href="javascript:void(0)" onclick="Nav.toggle()">&#9776;</a></li>
  </ul>
</nav>
