@import 'https://fonts.googleapis.com/css?family=Raleway:400,500';

@font-face {
    font-family: Gnuolane;
    src: url('gnuolane rg.ttf') format('truetype');
}

p {
  font-size: 2.1rem;
  line-height: 2.1em;
}
