
#social {
  padding: 50px;


  #social-icons {
    padding: 0;
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: center;
    li {
      margin: 20px;
      a img {
        max-height: 50px;
        transition: 0.5s;
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }
    @media screen and (max-width:900px) {
      align-items: center;
      flex-direction: column;
    }
  }
}
