$border: 1px solid red;

#photographer-poster {
  border: 10px solid white;
}
  .poster div {
    color: white;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;
    height: 90vh;
    text-align: left;
    padding: 0 100px;
    h1 {
      text-align: left;
      font-size: 8vw;
    }
    h5 {
      font-size: 4vw;
      line-height: 1.5em;
    }
  }


@media screen and (max-width:900px) {
  .poster div {
    padding: 0 20px;
  }
}
