

#photographer-poster {
  border: $white-border;
  background:   linear-gradient(
    rgba(0, 30, 30, 0.45),
    rgba(0, 30, 30, 0.45)
    ),
    url('../images/nature/nature-10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  .poster div {
    color: white;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    text-align: left;
    h1 {
      text-align: left;
      font-size: 5vw;
    }
    h5 {
      font-size: 2vw;
      line-height: 1.5em;
    }
  }


#photographer-industry {
  border: $white-border;
  background-color: #f0f0f0;
  padding: 2em 0;
}

#photographer-gallery {
  background: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  .portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    .portfolio-item {
      flex-grow: 2;
      width: 300px;
      height: 300px;
      margin: 5px;
      border: $white-border;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      a {
        text-decoration: none;
        div{
          background:
          linear-gradient(
          rgba(0, 0, 0, 0.20),
          rgba(0, 0, 0, 0.20)
          );
          height: 100%;
          display: block;
          &:hover {
            background:
            linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
            );
          }
          h3 {
            position: relative;
            text-align: center;
            vertical-align: middle;
            line-height: 300px;
            color: white;
          }
        }
      }
    }
  }
}

.padding {
  padding: 0 100px;
  .info {
    display: flex;
    justify-content: space-between;
    h4 {
      flex-basis: 60%;
      margin: 0 0 2em 0;
    }
    ul {
      flex-basis: 40%;
      // max-height: 350px;
      columns: 2;
      li {
        display: flex;
        align-items: baseline;
      }
    }
  }
}

@media screen and (max-width:900px) {
  .padding {
    padding: 0 20px;
  }
  .poster div {
    h1 {
      line-height: .5em;
    }
    h5 {
      font-size: 4vw;
        line-height: 1.2em;
    }
  }
  .info {
    flex-direction: column;
  }
}
