#portfolio-header {
  height: 300px;
  border: $white-border;

  .header-container {
    height: calc(100% /2);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 75px;
      color: $white;
    }
  }
}

#portfolio-piece {
  ul {
    padding: 0 !important;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      flex-grow: 2;
      margin-bottom: 20px;
      img {
        max-width: 80vw;
        height: auto;
      }
    }
  }
}



#portfolio-navigation {

  .collection-nav-container {
    display: flex;
    a {
      text-decoration: none;
      div {
        width: 50vw;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: top !important;
        transition: all 0.5s;
        border: $white-border;
        h1 {
          color: $white;
        }
        &:hover {
        }
      }
    }
  }
}
