#portfolio-header {
  height: 300px;
  border: $white-border;

  .header-container {
    height: inherit;
    display: flex;
    text-align: center;
    align-items: center;
    h1 {
      font-size: 75px;
      color: $white;
    }
  }
}

#portfolio-piece {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      flex-grow: 2;
      margin-bottom: 20px;
      img {
        width: 500px;
        height: auto;
      }
    }
  }
}


#portfolio-navigation {
  div {
    border: 1px solid green;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      align-self: center;
      border: 1px solid red;
      background: salmon;
      height: inherit;
      width: 50%;
    }
    a:nth-child(2) {
      border: 1px solid blue;
      background: lightblue;
    }
  }
}
