@import './include_media';

#scroll-to-top {
  @include media(">=tablet") {
    top: 85% !important;
    right: 5% !important;
  }
  display: none;
  opacity: 0.5;
  color: $blue;
  font-size: 50px;
  position: fixed;
  top: 80%;
  right: 15%;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }
  &:active {
    cursor: pointer;
    transform: scale(0.9, 0.9);
  }
}
