#aligner{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  .align-spacer {
    width: 20px;
  }
  .align-item{
    text-transform: uppercase;
    color: #fff;
    background: #00A388;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    text-align: center;
    height: 100vh;
  }
  .align-item:nth-child(1){
    background: #FF6138;
  }
}


@media (max-width: 700px) {
    #aligner{
      flex-direction: column;
      .align-spacer {
        width: 20px;
      }
      .align-item{
        height: 50vh;
      }
    }

  }
