#aligner{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  .align-spacer {
    width: 20px;
  }
  .align-item{
    text-transform: uppercase;
    color: #fff;
    background:
      linear-gradient(
      rgba(0, 163, 136, 0.45),
      rgba(0, 163, 136, 0.45)
      ),
      url('http://placekitten.com/600/500');
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    text-align: center;
    height: 100vh;
  }
  .align-item:nth-child(1){
    background:
      linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
      ),
      url('http://placekitten.com/200/300');

    width: 100;
  }
}


@media (max-width: 1200px) {
    #aligner{
      flex-direction: column;
      .align-spacer {
        width: 20px;
      }
      .align-item{
        height: 50vh;
      }
    }

  }
