<!DOCTYPE html>
<html>
<head>
  {% if page.custom_js %}
  {% assign sources = page.custom_js %}
  {% for source in sources %}
  <script src="{{source}}"></script>
  {% endfor %}
  {% endif %}

  {% include head.html%}
  {% include seo.html %}

  <script src="/js/portfolio.js"></script>
  <script src="/js/libraries/jquery.lazyload.min.js" type="text/javascript"></script>
</head>

<header>
  {% include nav.html %}
  <!-- Banner with first image from gallery and title -->
  <section id="portfolio-header" class="padding" style="
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),url(
  {% if page.images[0] %}
  '{{page.images[0]}}'
  {% else %}
  {{page.banner-image_path}}
  {% endif %}
  );
  background-size: cover;">
  <div class="header-container">
    <h1 >{{page.title}}</h1>
  </div>
</section>
</header>
<body class="animate-in">
  <!-- Carousel and Content   -->
  <section id="portfolio-piece" class="padding">
    {% include scroll-to-top.html %}
    {% assign portfolio_images = page.images %}
    {% if page.loading_gif %}
    <h1>yo></h1>
    {% endif %}
    <ul id='images-ul'>
      {% for image in portfolio_images %}
      <li>
        <img class="lazy" data-original="{{ image | prepend: site.baseurl }}"  alt="" />
      </li>
      {% endfor %}
    </ul>
  </section>
  <section id="portfolio-navigation">
    {% include collection-pagination.html collection="portfolios" %}
  </section>
</body>
<footer>
  <section id='social' class='padding'>
    <ul id='social-icons'>
      <li class = 'hide-me'>
        <a href="http://www.github.com/{{site.github_username}}">
          <img class='social-icon' src="../../images/icons/github.png" alt="github" />
        </a>
      </li>
      <li class = 'hide-me'>
        <a class='twitter' href="http://www.twitter.com/{{site.twitter_username}}">
          <img class='social-icon twitter' src="../../images/icons/twitter.png" alt="twitter" />
        </a>
      </li>
      <li class = 'hide-me'>
        <a href="http://www.linkedin.com/in/{{site.linkedin_username}}">
          <img class='social-icon' src="../../images/icons/linkedin.png" alt="linkedin" />
        </a>
      </li>
      <li class = 'hide-me'>
        <a href="http://www.500px.com/{{site.fivehundred_username}}">
          <img class='social-icon' src="../../images/icons/500px.png" alt="500px" />
        </a>
      </li>
    </ul>
  </section>
</footer>
</html>
